# Rancher API Configuration
export RANCHER_URL="https://charon.butterflycluster.com:8443"
export RANCHER_BEARER_TOKEN=

# SSL certificates on the host (used by the Rancher container)
export CERT_DIR="/etc/ssl"
export CERT_FILE="/etc/ssl/butterflycluster_com.crt.pem"
export KEY_FILE="/etc/ssl/butterflycluster_com.key.pem"
export CA_FILE="/etc/ssl/butterflycluster_com.ca-bundle"

# Cloudflare Configuration (for Let's Encrypt DNS-01 challenges)
export CLOUDFLARE_EMAIL=
export CLOUDFLARE_API_TOKEN=
export CLOUDFLARE_ZONE_ID=

export CLEANUP_ACME_DNS=true
export FLUSH_COREDNS_ON_ISSUANCE=true
export WAIT_FOR_CERT_READY=true
